services:
  - type: web
    name: laravel-app
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    region: frankfurt
    plan: free
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: LOG_CHANNEL
        value: stderr
      - key: APP_KEY
        sync: false
      - key: APP_URL
        value: https://culturebenin-op79.onrender.com
      - key: DB_CONNECTION
        value: sqlite
    preDeployCommand:
    healthCheckPath: /
    autoDeploy: true
    buildFilter:
      paths:
        - "**/*"
