services:
  - type: web
    name: laravel-app
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    region: frankfurt  # Gratuit sur Frankfurt
    plan: free
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: LOG_CHANNEL
        value: stderr
    healthCheckPath: /
    autoDeploy: true
    buildFilter:
      paths:
        - "**/*"
